body{
    color:#1c4476;
    background-color: #032e3b;
}
textarea{
    width:100%;
    box-sizing: border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
h1,h2{
    color:white;
    background-color: #03243b;
text-shadow: 0px 0px 2px #bfd9e3;
filter: dropshadow(color=#bfd9e3, offx=0, offy=0);
text-decoration: underline;
}

#my-remarks-header-wrapper{
    color:white;
    padding-left: 4px;
    background-color: #03243b;
}

.my-button-clear-all-remarks{
    float:right;
}

ul{
    padding: 0;
    list-style: none;
}
.my-text{
    display: inline-block;
    width:50%;
    background-color:#e0f8ff;
}

.my-remark-date{
    float:right;
}

li{
    min-height: 100px;
    padding: 4px;
    margin-bottom: 14px;
    background-color: white;
}

.my-button{
    display: inline-block;
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 6px 16px;
}

.my-button-submit{
    float:right;
    border-style: solid;
    border-width: 2px;
    border-color: #03243B;
}
.my-create-remark{
    margin-bottom: 65px;
}

/**genarate style in http://gradients.glrzad.com */
.my-button-style1{
    color: #ffffff;
    background-image: linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);
background-image: -o-linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);
background-image: -moz-linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);
background-image: -webkit-linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);
background-image: -ms-linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.37, rgb(14,92,176)),
	color-stop(0.69, rgb(52,162,235))
);
}


.my-button-style2{
    color:white;
    background-image: linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);
background-image: -o-linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);
background-image: -moz-linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);
background-image: -webkit-linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);
background-image: -ms-linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.37, rgb(176,38,14)),
	color-stop(0.69, rgb(235,87,50))
);


}
.my-button-save{
    display: none;

}
.my-details{
    float:right;
}