body{
    color:#1c4476;
}
body,div,h1,h2,textarea{
    margin:0;
    padding: 0;
    border:0;
}
textarea{
    width:100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 2px;
}
#remark-text{
    border-style: solid;
    border-width:2px;
    border-color: #d3e2f3;
}
h1{
    margin-bottom:4px;
    text-align: center;
    line-height: 180%;
    background-color: #032e3b;
    color: #ffffff;
    text-shadow:0px 0px 0 rgb(203,203,203),1px -1px 0 rgb(160,160,160),2px -2px 0 rgb(118,118,118),3px -3px 0 rgb(75,75,75),4px -4px 0 rgb(33,33,33),5px -5px 0 rgb(-10,-10,-10), 6px -6px 0 rgb(-52,-52,-52),7px -7px 6px rgba(0,0,0,0.6),7px -7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

#my-remarks-header-wrapper{
    border-style: solid;
    border-right-width:0px;
    border-left-width:0px;
    border-top-width:0px;
    border-bottom-width:2px;
    padding-bottom: 4px
}

.my-button-clear-all-remarks{
    float:right;
}

ul.my-remark-list{
    padding: 0;
    list-style: none;
}
.my-text{
    overflow: auto;
}

.my-remark-date{
    float:right;
}

li{
    min-height: 40px;
    margin-bottom: 14px;
    background-color: white;
    border-style: solid;
    border-right-width:0px;
    border-left-width:0px;
    border-top-width:0px;
    border-bottom-width:1px;
}

#content{
    padding-right: 8px;
    padding-left: 8px;
}

.my-button{
    display: inline-block;
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 6px 16px;
}

.my-button-submit{
    float:right;
}
.my-create-remark{
    margin-bottom: 65px;
}

/**genarate style in http://gradients.glrzad.com */
.my-button-style1{
    color: #ffffff;
    background-image: linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);
    background-image: -o-linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);
    background-image: -moz-linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);
    background-image: -webkit-linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);
    background-image: -ms-linear-gradient(bottom, rgb(14,92,176) 37%, rgb(52,162,235) 69%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.37, rgb(14,92,176)),
        color-stop(0.69, rgb(52,162,235))
        );
}
.my-button-style2{
    color:white;
    background-image: linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);
    background-image: -o-linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);
    background-image: -moz-linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);
    background-image: -webkit-linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);
    background-image: -ms-linear-gradient(bottom, rgb(176,38,14) 37%, rgb(235,87,50) 69%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.37, rgb(176,38,14)),
        color-stop(0.69, rgb(235,87,50))
        );
}
.my-button-save{
    display: none;

}
.my-details{
    float:right;
}